@font-face
	font-family: 'Muller'
	src: url('../fonts/muller.ttf') format('truetype')
*
	margin: 0
	padding: 0
body
	font-family: Muller, sans-serif
a
	text-decoration: none
ul
	list-style: none
	li
		display: inline-block	
.container
	width: 1140px
	margin: 0 auto
.header__lop-line
	display: flex
	justify-content: space-between
	padding: 16px 0
	border-bottom: 1px solid grey
	align-items: center
.black-link
	color: black
	font-size: 16px
	text-transform: uppercase
	padding: 6px 5px
	transition: 0.5s  all
	font-weight: bold
	&:hover
		color: white
		background: #641a9c
.icon-link
	width: 23px
	height: 23px
	display: inline-block
.messages
	background-image: url('../img/top-icons.png')
	background-position: 0px 24px
.social-links
	display: flex
	a
		margin-left: 45px
.profile
	background-image: url('../img/top-icons.png')
	background-position: 0px 50px
.cart
	background-image: url('../img/top-icons.png')
	background-position: 0px 74px
.header__top-line-menu
	width: 405px
	display: flex
	justify-content: space-between
	ul
		width: 100%
		display: flex
		justify-content: space-between
.header__bottom-line
	display: flex
	justify-content: space-between
	align-items: center
	padding: 16px 0
.header__bottom-line-menu
	a
		margin-left: 45px
.active-link
	background: #641a9c
	color: white
h1
	font-size: 48px
	margin: 40px 0
h1.center
	text-align: center
.page-info
	width: 745px
	color: white
	background: linear-gradient(0deg, #77249c, #dc5a9a)
	padding: 60px
	border-radius: 5px
	box-sizing: border-box
	margin-bottom: 45px
.page-info__brand-logo
	margin-top: 22px
	margin-bottom: 25px
.page-content
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	.product
		width: 355px
		margin-bottom: 45px
		.product__img
			margin-bottom: 28px
		h2
			margin-bottom: 30px
		.buy
			padding: 18px 62px
			background: linear-gradient(45deg, #77249c, #dc5a9a)
			border-radius: 20px
			color: white
			font-size: 16px
			font-weight: bold
		.product__info-price
			font-size: 20px
			font-weight: bold
		.product__info-block
			display: flex
			justify-content: space-between
			align-items: center
		
	
